

$Marineblue: #02295a;
 $Purplishblue: #473dff;
 $Pastelblue: #adbeff;
$Lighblue: #bfe2fd;
$Strawberryred: hsl(354, 84%, 57%);


$Coolgray: hsl(231, 11%, 63%);
$Lightgray: #d6d9e6;
$Magnolia: #f0f6ff;
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);