@import '../abstracts/variables';
.btn{

width: 11rem;
height:4rem ;
color: $White;
font-size: 1.4rem;
border-radius: 6px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;


box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.1);
&:hover{
    background-color: rgba(2, 42, 90, 0.9);;
    box-shadow:3px 3px 3px rgba($color: #000000, $alpha: 0.1);
    transition: 0.3s;

}
&:active{
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.1);  
}
&--forward{
    left: 100%;
    border: 1px solid rgba(2, 42, 90, 0.9) ;
transform: translateX(-100%);
background-color: $Marineblue;

}
&--backward{
    right: 100%;
    transform: translateX(100%);
    border: none;
    background-color: $White;
color: $Coolgray;
font-weight: 400;
&:hover{
    background: $White;
    color: $Marineblue;
    font-weight: 700;
}
}

}
