.infoImg{
    // background-position: left;
    // background-size: cover;
   background-image: url('../../assets/images/bg-sidebar-desktop.svg');
   height: 48rem;
   width:24rem;
   background-repeat: no-repeat;
   background-position: bottom;
   border-radius: 12px;
   overflow: hidden;
   padding: 1.4rem;


//    position: absolute;
}